/* CSS declarations go here */

@font-face {
    font-family: 'tream';
    src: url("assets/css/fonts/Treamd.ttf");
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(48,31,8);
}

#game-view{
	display: block;
	width: 1000px;
	margin: 20px auto 0 auto;
}

#status-bar{
	height: 100px;
	width: 1000px;
	margin: 0 auto 0 auto;
	background-color: yellow;

}

#menu{
	width: 500px;
	height: 450px;
	margin: 0 auto 0 auto;
	background-image: url("assets/css/images/menu_bg.png");
	background-repeat: no-repeat;
	padding: 200px 0 0 0;
}

#menu-btns{
	position: relative;
	width: 350px;
	height: 250px;
	margin: 0 auto 0 auto;
}

#menu-btns button{
	display: block;
	width: 350px;
	height: 50px;
	background: transparent;
	border: none;
	font-family: 'tream';
	font-size: 32px;
}

#menu-btns button:hover{
	color: white;
	cursor: pointer;
	background-image: url("assets/css/images/select_flag.png");
	background-position: center center;
}

#menu-btns #login-buttons{
	display: block;
	width: 350px;
	height: 50px;
	border: none;
	font-family: 'tream';
	font-size: 32px;
	text-align: center;
}

#logout-btn{
	display: inline-block;
}