/* CSS declarations go here */

@font-face {
    font-family: 'tream';
    src: url("assets/css/fonts/Treamd.ttf");
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(48,31,8);
}

#game-view{
	display: block;
	width: 950px;
	margin: 0 auto 0 auto;
	padding: 80px 0 0 0;
}

#game-container{
	display: none;
	width: 1024px;
	height: 768px;
	margin: 0 auto 0 auto;
	background-image: url("assets/css/images/game_bg.png");
}


#menu{
	width: 500px;
	height: 450px;
	margin: 0 auto 0 auto;
	background-image: url("assets/css/images/menu_bg.png");
	background-repeat: no-repeat;
	padding: 200px 0 0 0;
}

#menu-btns{
	position: relative;
	width: 350px;
	height: 250px;
	margin: 0 auto 0 auto;
}

#menu-btns button{
	display: block;
	width: 350px;
	height: 50px;
	background: transparent;
	border: none;
	font-family: 'tream';
	font-size: 32px;
}

#menu-btns button:hover{
	color: white;
	cursor: pointer;
	background-image: url("assets/css/images/select_flag.png");
	background-position: center center;
}

#menu-btns #login-buttons{
	display: block;
	width: 350px;
	height: 50px;
	border: none;
	font-family: 'tream';
	font-size: 32px;
	text-align: center;
}

#logout-btn{
	display: inline-block;
}


#upgrade-pannel{
	background-color: white;
	display: none;
}

#chat{
	display: none;
	width: 300px;
	height: 100px;
	position: absolute;
	bottom:210px;
	font-family: "arial";
}

#chat p{
	height: 100px;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.3);
	color: rgb(154,255,138);
	padding: 0 5px 0 5px;
}

#message-content{
	width: 285px;
	height: 20px;
	background-color: rgba(255,255,255,0.9);
	padding: 0 0 0 15px;
	color: rgba(100,100,100,1);
	border: none;
	box-shadow: inset 1px 2px 0 rgba(0,0,0,0.5);
	margin: 5px 0 0 0;
}

#message-content:focus{
	background-color: rgba(255, 107, 34, 0.5);
	color: white;
}


#status-bar{
	display: none;
	height: 100px;
	width: 1000px;
	margin: 0 auto 0 auto;
	background-image: url("assets/css/images/status_bar.png");

}

#jolly-roger-canvas{
	display: block;
	width: 150px;
	margin: 0 auto 0 auto;
	padding: 10px 0 0 0;
}

#health{
	position: absolute;
	width: 150px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin: 20px 0 0 400px;
	color: white;
	font-size: 30px;
	text-shadow: 0px -2px 0px rgba(0,0,0,1);
	font-family: "tream";
}

#fight-logs{
	position: absolute;
	margin: 20px 0 0 70px;
	color: rgb(91,72,0);
	font-size: 24px;
	font-family: "tream";
}

#gold{
	position: absolute;
	width: 150px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin: 20px 0 0 550px;
	color: white;
	font-size: 30px;
	text-shadow: 0px -2px 0px rgba(0,0,0,1);
	font-family: "tream";
}