<template name="help">
	<div id="help-layout">
		<p id="general-help">use the arrows keys to move and X, C or V to fire (see more in the options)</p>
		<p id="chat-help">click here to type in the chat, press enter to send your message</p>
		<p id="fl-help">this is you fight logs, you can see the last actions you did</p>
		<p id="lb-help">this is your life bar, if it goes to 0 you lose</p>
		<p id="gs-help">this is your gold stock, you earn gold when you defeat opponents</p>
		<p id="up-help">click here to show the upgrade panel</p>
		<p id="option-help">show options and keys</p>
	</div>
</template>