<template name="optionsPannel">
	<div id="options-pannel">
		<h2>Options</h2>
		<ul>
			<li><span class="left">turn Left:</span><span class="right">LEFT ARROW</span></li>
			<li><span class="left">turn Right:</span> <span class="right">RIGHT ARROW</span></li>
			<li><span class="left">move Forward:</span> <span class="right">UP ARROW</span></li>
			<li><span class="left">Fire Left:</span><span class="right">X</span></li>
			<li><span class="left">Fire Right:</span> <span class="right">V</span></li>
			<li><span class="left">Fire Front:</span> <span class="right">C</span></li>
			<li><span class="left">show score:</span> <span class="right">TAB</span></li>
		</ul>

		<button id="close-options-btn" class="close-btn">Close</button>
	</div>
</template>
