<template name="upgradePannel">
	<div id="upgrade-pannel">
		<div id="cost">
			{{#each boatData}}
				<p id="health-price">{{getHealthPrice maxHealth}} <img src="assets/css/images/pieces.png" width="15px"></p>
				<p id="firerate-price">{{getFireratePrice fireRate}} <img src="assets/css/images/pieces.png" width="15px"></p>
				<p id="speed-price">{{getSpeedPrice speed}} <img src="assets/css/images/pieces.png" width="15px"></p>
				<p id="damages-price">{{getDamagesPrice damages}} <img src="assets/css/images/pieces.png" width="15px"></p>
			{{/each}}
		</div>
		<p class="current-stats">
			health : 
			{{#each boatData}}
				{{maxHealth}}
			{{/each}}
		</p>
		<button id="health-btn" class="plus-btn">+</button>
		<br>
		<p class="current-stats">
			damages : 
			{{#each boatData}}
				{{damages}}
			{{/each}}
		</p>
		<button id="damages-btn" class="plus-btn">+</button>
		<br>
		<p class="current-stats">
			fire rate : 
			{{#each boatData}}
				{{fireRate}}
			{{/each}}
		</p>
		<button id="firerate-btn" class="plus-btn">+</button>
		<br>
		<p class="current-stats">
			speed : 
			{{#each boatData}}
				{{speed}}
			{{/each}}
		</p>
		<button id="speed-btn" class="plus-btn">+</button>

		<button id="close-btn" class="close-btn">Close</button>
	</div>
</template>